data/
.venv/
engine/
__pycache__/
*.pyc
*.pyo
.DS_Store
.idea/
.vscode/
*.log
*.bak
*.tmp
*.swp
*.swo
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.zip
*.log
*.out
*.err
*.cover
.coverage
.coverage.*
htmlcov/
.nox/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.pyre_check/
.pyre_configuration/
.pyre_configuration.local/
.pyre_cache/
.pyre/
docs/
*.pdf
*.docx
*.xlsx
*.pptx 
*.md
.sixth/
assets/